* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: radial-gradient(circle, #2e004f, #0f001a);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-externo {
  background-color: white;
  padding: 10px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.grid-layout {
  display: grid;
  gap: 10px;
  grid-template-columns: 120px 1fr 120px;
  grid-template-rows: auto auto 200px auto;
}

.item {
  background-color: #efeee9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.item span {
  background-color: #729fcf;
  color: #1a1a1a;
  padding: 5px 15px;
  border: 1px solid #555;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.header {
  grid-column: 1 / span 3;
}

.menu {
  grid-column: 1 / span 3;
  padding: 10px;
}

.sidebar-left {
  grid-column: 1;
}

.content {
  grid-column: 2;
}

.sidebar-right {
  grid-column: 3;
}

.footer {
  grid-column: 1 / span 3;
  padding: 10px;
}
